<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated wfwps -->
      <package
            uri="http://fr.ubo.mde.babau.wfwps"
            class="wfwps.WfwpsPackage"
            genModel="model/wfwps.genmodel"/>
   </extension>

</plugin>
