<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="My FX View"
            icon="icons/sample.gif"
            class="noumeaui.views.MyViewPart"
            id="noumeaui.views.MyViewPart">
      </view>
   </extension>

</plugin>
