<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated wfwps -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="wfwps.presentation.WfwpsModelWizardID"
            name="%_UI_WfwpsModelWizard_label"
            class="wfwps.presentation.WfwpsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WfwpsModelFile.gif">
         <description>%_UI_WfwpsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated wfwps -->
      <editor
            id="wfwps.presentation.WfwpsEditorID"
            name="%_UI_WfwpsEditor_label"
            icon="icons/full/obj16/WfwpsModelFile.gif"
            extensions="wfwps"
            class="wfwps.presentation.WfwpsEditor"
            contributorClass="wfwps.presentation.WfwpsActionBarContributor">
      </editor>
   </extension>

</plugin>
